PORT=3000
NODE_ENV=development
MONGODB_USERNAME=
MONGODB_PASSWORD=
MONGODB_URI=mongodb+srv://<MONGODB_USERNAME>:<URL_ENCODED_MONGODB_PASSWORD>@contactcluster.n6ralei.mongodb.net/portfolio?retryWrites=true&w=majority
CLIENT_ORIGINS=http://localhost:5173
RESEND_API_KEY=
CONTACT_TO_EMAIL=navarrosb@proton.me
EMAIL_FROM=Portfolio Contact <onboarding@resend.dev>
